# Basics of Python  

# MODULE 1

In [2]:
print ('HELLO WORLD')

HELLO WORLD

In [3]:
a = 10
b = 20
print(a+b)

30

In [4]:
a+b

30

In [5]:
a-b

-10

# Variables and Data types.

In [ ]:
# Variable is a name given to the different part of the programming.

In [7]:
a=10
type(a) # interger data type

int

In [9]:
b=12/5
type(b) # FLoat data type

float

In [11]:
var1= "SHREYAS"
type(var1) # String data type

str

In [14]:
c=True
type(c) # Boolean data type

bool

# Comments

In [15]:
# Single name comment is represented using'###'

In [16]:
'''this is how we represent
the multiline description using 3 inverted comma''' # BULK COMMENT

'this is how we represent\nthe multiline description using 3 inverted comma'

# Giving a input from the user

In [17]:
n1 = input('Enter the num : ')
n2 = input('Enter the num : ')

Enter the num : 15
Enter the num : 25

In [18]:
print(n1+n2) # this is bcz it considers everything as a string.

1525

In [10]:
ip1 = int(input('number1 :'))
ip2 = float(input('number2 :')) # for float without decimal value can also be fed.

number1 :25
number2 :12.5

In [11]:
print(ip1+ip2)

37.5

# Operators

In [ ]:
# Airthmatic operators : + , - , * , / , // , **
# Assignment operators : = (Ex: a+=1 -> a=a+1), b-=2
# Comparision/relational operators : == , < , > , >= , <= , !=
# logical operators : And, or, not
# Membership operators : in , notin.

In [3]:
a=20
b=12.5

In [12]:
(a<=b)

False

In [8]:
a**b

1.8317868871678276e+16

In [21]:
v2 = 25

In [14]:
v2+=5  # (v2=v2+5)

In [17]:
v2-=10

In [19]:
v2*=1 #v2=v2*1

In [22]:
v2

25

In [34]:
d=(1,3,5,6)
f=[2,8,3,5]

In [25]:
2 not in d

True

In [29]:
f or d

(2, 8, 3, 5)

In [35]:
f.append(10)  ## This

In [36]:
f

[2, 8, 3, 5, 10]

# Statements

### 1) Conditional Statements: 1) if , 2) if elif....else, 3) if....else.

In [41]:
# WAP program to print wheather a person is eligible to vote.and get the age as a input from the user.

Age = int(input('Enter the number: '))
if Age >=18 :
    print ('Eligible to vote')
    print('Please Go and vote')     ## Statement with only if

Enter the number: 25
Eligible to vote
Please Go and vote

In [43]:
# WAP program to print wheather a person is eligible to vote or not.and get the age as a input from the user.

Age = int(input('Enter the number: '))
if Age >=18 :
    print ('Eligible to vote')
    print('Please Go and vote')
else:
    print('Not eligible to vote')    ## If....else

Enter the number: 14
Not eligible to vote

In [12]:
# WAP to to print as per the users choice.And get the inputs from the user.
# w: white , y: yellow , R:Red 

choice = input('Enter the colors: ')
if choice=='w' or choice== "W":
    print('white')
elif choice=='y':
    print('yellow')
elif choice=='r':
    print('red')
else:
    print('Choice is not of user')     ## if elif....else

Enter the colors: W
white

In [20]:
# WAP to check given input is divisible by 5.
num = int(input('Enter the number: '))
if num % 5==0:
    print('Divisible by 5')
else:
    print('Not divisible')

Enter the number: 12
Not divisible

In [10]:
# WAP to check given input is divisible by 5 and 7 or only by 5 or 7 and not divisible by both.
num = int(input('Enter the number: '))
if num%5==0 and num%7==0:
     print('Divisible by 5 and 7')
elif num%5==0:
     print('Divisible by 5')
elif num%7==0:
     print('Divisible by 7')   
else:
    print('Not divisible by both')

Enter the number: 35
Divisible by 5 and 7

### 2) Iterative/ looping statements : for , while

### FOR LOOP

In [15]:
# WAP a program to compute square of all the numbers in a given list.
numbers = [2,4,6,7,3,9,11]

In [18]:
for value in numbers:
    print(value,value**3)

2 8
4 64
6 216
7 343
3 27
9 729
11 1331

In [27]:
sq=[]
for value in numbers:
    sq.append(value**2) ## append function helps in adding values in the list.
    
print('original list: ',numbers)
print('Squared numbers: ',sq)

original list:  [2, 4, 6, 7, 3, 9, 11]
Squared numbers:  [4, 16, 36, 49, 9, 81, 121]

In [22]:
sq

[4, 16, 36, 49, 9, 81, 121]

In [24]:
sq[1] # 1 is the index number and is also given in the square bracket.

16

In [46]:
# WAP a program to square the paticular values in the list of given numbers.
num = [22,12,15,33,28,56,15,30,45,31]
square =[]
for value in num:
    if value%2==0:
        square.append(value**2)
    else:
        square.append(value**3)

print('original list: ',num)
print('Squared and cubed numbers: ',square)

original list:  [22, 12, 15, 33, 28, 56, 15, 30, 45, 31]
Squared and cubed numbers:  [484, 144, 3375, 35937, 784, 3136, 3375, 900, 91125, 29791]

In [47]:
square

[484, 144, 3375, 35937, 784, 3136, 3375, 900, 91125, 29791]

In [61]:
len(square) # Helps in knowing the length of the list.

10

In [62]:
list(range(0,10)) # Range is a in-built function give numbers as per user requirement.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
list(range(4,22+4,2))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [79]:
# WAP to print the numbers divisible by 5 and 7 between numbers 1 to 200 including both the limits.
numbers = list(range(1,200+1))

In [83]:
l1=[]
for each in numbers:
    if each%5==0 and each%7==0:
        l1.append(each)

In [84]:
l1

[35, 70, 105, 140, 175]

### WHILE LOOP

In [19]:
# WAP to print the numbers divisible by 5 and 7 between numbers 1 to 200 including both the limits.

i = 1 # Starting number
while i<=200:
    if i%5==0 and i%7==0:
        print(i)
    i=i+1
print('loop exited')

35
70
105
140
175
loop exited

In [1]:
# WAP to enter grocery items and keep on adding the items untill user enters 'quit'.

list1 = []

item = input('enter the item: ')

while item!='quit':
    list1.append(item)
    item = input('enter the item: ')
    
print('User enters quit')

enter the item: Bread
enter the item: Milk
enter the item: Butter
enter the item: Viggies
enter the item: Chocos
enter the item: quit
User enters quit

In [2]:
list1

['Bread', 'Milk', 'Butter', 'Viggies', 'Chocos']

### JUMP : Break,Continue,Pass,Return.

### JUMP STATEMENT: Break, continue, Pass, Return.

In [ ]:
# WAP to check wheather the number is prime or not. Continue it untill user enter quit.
# JUMP STATEMENT:
while True:
    ip = (input('Enter the number: '))
    
    if ip=='quit':
        break
    else:
        num=int(ip)
        rangeofnum = list(range(1,num+1))
        counter=0
        for each in rangeofnum:
            if num%each==0:
                counter+=1
        if counter==2:
            print('Number is a prime number')
        else:
            print('Number is not a prime number')
print('User entered quit')

In [8]:
## Break and continue statement difference:
for each in range(1,10):
    if each==5:
        break
    print(each)    # Breaks the loop at 5.

1
2
3
4

In [10]:
for each in range(1,10):
    if each%2==1:
        continue
    print(each)   # Breaks the loop at 5 and then continues.

2
4
6
8

In [11]:
# Pass Statement:
for each in range(1,10):    #pass is used when ever u dont want to use the written function.
    pass

In [24]:
# Return statement:
def evenorodd(num):      # Def is a function used to generate user defined functions.
    if num%2==0: 
        return('Even')
    return('Odd')

In [26]:
response = evenorodd(34)
response

'Even'

# SEQUENCES

### It is also a data structures and helps in a way of storing data/values.

In [27]:
# 1) LIST: It is a collection of heterogeneous data types. It also contains homogeneous data types.

# 2) TUPPLE:

# 3) SET:

# 4) DICTIONARY:

# 5) STRING:

# 1) LIST:

In [5]:
details=['Shreyas',25.5,11055,'Male','shreyas@95']

numbers = [11,22,33,44,55]

In [32]:
type(details)

list

In [33]:
type(Num)

list

In [6]:
# Repitition
numbers*3  # This will helps in giving same values in a list multiple times.

[11, 22, 33, 44, 55, 11, 22, 33, 44, 55, 11, 22, 33, 44, 55]

In [38]:
# Indexing  : List is a zero based indexing.
numbers

[11, 22, 33, 44, 55]

In [37]:
numbers[4]

55

In [39]:
numbers[-2]

44

In [40]:
numbers[2]

33

In [41]:
numbers[-1]

55

In [42]:
numbers[-5]

11

In [45]:
len(numbers)  ## This helps in giving the number of values present in the list.

5

In [1]:
# Slicing:
num = [21,33,31,56,33,90,21,76,12.5,44,75,63,21,73.7,88.4,90,33,21]

In [40]:
len(num)   # This is count of values in list from 1.

18

In [54]:
num[0:4+1]

[21, 33, 31, 56, 87]

In [57]:
num[0:-1]

[21, 33, 31, 56, 87, 90, 45, 76, 12.5, 44, 75, 63, 84, 73.7, 88.4]

In [58]:
num[0:10:2]   # Giving a space value and extracting the values.

[21, 31, 87, 45, 12.5]

In [62]:
num[:16]

[21, 33, 31, 56, 87, 90, 45, 76, 12.5, 44, 75, 63, 84, 73.7, 88.4, 90]

In [60]:
num[::3]

[21, 56, 45, 44, 84, 90]

In [61]:
num[5:13]   # Always gives one num previous to the index values.

[90, 45, 76, 12.5, 44, 75, 63, 84]

In [63]:
num[::-1]   # This will give reverse of list.

[90, 88.4, 73.7, 84, 63, 75, 44, 12.5, 76, 45, 90, 87, 56, 31, 33, 21]

In [67]:
num[-10:-1]

[45, 76, 12.5, 44, 75, 63, 84, 73.7, 88.4]

In [68]:
st = 'SHREYAS'   ## Indexing for the string function.

In [16]:
# Updating the values:
details    ## Updating removes the previous values of particular index and adds with the new value.

['Shreyas', 25.5, 11055, 'Male', 'shreyas@95']

In [17]:
details[2]=8553060665

In [18]:
details

['Shreyas', 25.5, 8553060665, 'Male', 'shreyas@95']

In [19]:
details[-1]='shreyasmech.17@gmail.com'

In [20]:
details

['Shreyas', 25.5, 8553060665, 'Male', 'shreyasmech.17@gmail.com']

### LIST FUNCTIONS:

In [21]:
## LIST FUNCTIONS:
details.append('Davangere')   ## APPEND adds values at the end.

In [22]:
details

['Shreyas', 25.5, 8553060665, 'Male', 'shreyasmech.17@gmail.com', 'Davangere']

In [23]:
details.insert(1,'Manjappa') ## INSERT helps in adding new value to the list in a particular index.

In [24]:
details   ## 1 her is the index value  along with the value to be added.

['Shreyas',
 'Manjappa',
 25.5,
 8553060665,
 'Male',
 'shreyasmech.17@gmail.com',
 'Davangere']

In [25]:
## Removing the values.
## Removing values index-wise.

details.pop() # POP function used to remove the values index-wise , 
#And if we do not mention the index value it always removes the last value.

'Davangere'

In [26]:
details

['Shreyas', 'Manjappa', 25.5, 8553060665, 'Male', 'shreyasmech.17@gmail.com']

In [27]:
details.pop(3)

8553060665

In [28]:
details

['Shreyas', 'Manjappa', 25.5, 'Male', 'shreyasmech.17@gmail.com']

In [29]:
# Remove by value.
details.remove('Manjappa')   ## Remove functions helps in removing value by giving the values name.

In [30]:
details

['Shreyas', 25.5, 'Male', 'shreyasmech.17@gmail.com']

In [31]:
details.clear()   ## Helps in clearing the list

In [32]:
details

[]

In [33]:
del details  ## Deletes the any given input completely.

In [34]:
details

NameError: name 'details' is not defined

In [36]:
details

['Shreyas', 25.5, 11055, 'Male', 'shreyas@95']

In [37]:
Temp = details.copy()    ## Copy helps in copying the values of particular list under other variable.

In [38]:
Temp

['Shreyas', 25.5, 11055, 'Male', 'shreyas@95']

In [51]:
num

[21, 33, 31, 56, 33, 90, 21, 76, 12.5, 44, 75, 63, 21, 73.7, 88.4, 90, 33, 21]

In [52]:
num.count(33) # Count helps in counting values which are repeated multiple times.

3

In [3]:
for each in range(num.count(21)):   ## This is how we delete the numbers repeated multiple time.
    num.remove(21)

In [54]:
num

[33, 31, 56, 33, 90, 76, 12.5, 44, 75, 63, 73.7, 88.4, 90, 33]

In [59]:
num.index(33)  ## This gives the index vale of the particular element.

0

In [10]:
## WAP a program to get all the indexes of the repeated values of the list.
num = [21,33,31,56,33,90,21,76,12.5,44,75,63,21,73.7,88.4,90,33,21]
index_val=[]
for each in range(0,len(num)):
    if num[each]==21:
        index_val.append(each)
print('INDEX OF 21: ',index_val)


                #### Another Type ####

INDEX OF 21:  [0, 6, 12, 17]

In [30]:
numofcount=num.count(21)
start_count=0
index_value=[]
for each in range(numofcount):
    index=num.index(21,start_count)
    start_count=index+1
    index_value.append(index)
index_value

[0, 6, 12, 17]

In [75]:
# Extend
num1 = [21,25,29]
num2 = [41,42,49]
num1.extend(num2) ## Extend function adds 2 variable into 1.

In [76]:
num1

[21, 25, 29, 41, 42, 49]

In [82]:
## Reverse and sort:
num3 = [12,5,8,55,87,54,36,13,57,5,98,100]
num3.reverse()

In [83]:
num3    ## Reverse function helps same list values in opp direction.

[100, 98, 5, 57, 13, 36, 54, 87, 55, 8, 5, 12]

In [84]:
num3.sort() ## Sort helps in sorting out the list in the ascending order.

In [85]:
num3

[5, 5, 8, 12, 13, 36, 54, 55, 57, 87, 98, 100]

In [86]:
num3.sort(reverse=True)   ## Resversing of sort helps in getting values in descending order.

In [87]:
num3

[100, 98, 87, 57, 55, 54, 36, 13, 12, 8, 5, 5]

In [103]:
num4 = [1,2,3,4,5]

In [104]:
num4_copy = num4.copy()   ## This is by using the copy function.

In [105]:
num4_copy

[1, 2, 3, 4, 5]

In [109]:
num4.append(6)   ##THis will be shallow copy, if we append anything with original list,it will nt get reflected in the copied list

In [110]:
num4

[1, 2, 3, 4, 5, 6]

In [111]:
num4_copy

[1, 2, 3, 4, 5]

In [112]:
num4_another_copy = num4   ## This is the deep copy, Anything changed in the original value, replicate with the copied list.

In [113]:
num4_another_copy

[1, 2, 3, 4, 5, 6]

In [114]:
num4.append(7)

In [115]:
num4_another_copy

[1, 2, 3, 4, 5, 6, 7]

In [11]:
num

[21, 33, 31, 56, 33, 90, 21, 76, 12.5, 44, 75, 63, 21, 73.7, 88.4, 90, 33, 21]

In [12]:
num.index(21,1) ## Find the index of a values by giving the starting index.

6

In [14]:
num.index(33,5)

16

In [15]:
num.count(21) ## Counting of particular number in a list.

4

# 2) TUPLES:

In [49]:
tuple1=(22,25.2,43,'Shreyas',22,89,22,)

In [33]:
tuple1

(2, 25.2, 43, 'Shreyas', 22, 89)

In [34]:
## They are represnted in round brackets(paranthecis).
## They are faster in excecution.
## They are used when ever there is no need of change in the sequence.
## And they are immutable(Values cannot be changed)

In [35]:
# Ripitation:
tuple1*2   ## Helps in doubling the values.

(2, 25.2, 43, 'Shreyas', 22, 89, 2, 25.2, 43, 'Shreyas', 22, 89)

In [36]:
# Indexing AND Slicing:
tuple1[1]    # This give elements value by giving index number.

25.2

In [45]:
tuple1[-1]

89

In [46]:
tuple1[-3]

'Shreyas'

In [37]:
tuple1[2:-1]

(43, 'Shreyas', 22)

In [39]:
tuple1[::-1] ## Reverse

(89, 22, 'Shreyas', 43, 25.2, 2)

In [41]:
tuple1[1:-1:2]

(25.2, 'Shreyas')

In [43]:
len(tuple1)   ## Finding the length of the tuple.

6

In [48]:
#Changing the value.
tuple1[1]=25   # In tuples changes is not allowed as like in the list.

TypeError: 'tuple' object does not support item assignment

In [50]:
## FUNCTIONS OF TUPLES: 
'''Only 2 functions are available in tuples'''

tuple1.count(22)

3

In [60]:
tuple1.index('Shreyas') ## This gives index value by entering the elements.

3

In [55]:
tuple1.index(22,5)

6

# Converting tuples to list and viceversa:

In [74]:
list1=[1,2,3,4,5]
tuple1=(1,2,3,4,5,'Shreyas')

In [62]:
list1

[1, 2, 3, 4, 5]

In [63]:
tuple1

[1, 2, 3, 4, 5, 'Shreyas']

In [64]:
t=tuple(list1) ## Converting list to tuple.

In [65]:
t

(1, 2, 3, 4, 5)

In [67]:
t[1]=100   ## We cannot change values since the list is converted to tuples.

TypeError: 'tuple' object does not support item assignment

In [77]:
t2=list(tuple1) ## Converting tuple to a list.

In [82]:
## Changing a value of index 2 in a tuple to 100.
t2=list(tuple1)   ## Coverted to tuple.
t2[2]=100   ## RE-writing index 2 value with 100.
tuple1=tuple(t2)   ## Then again converting it to tuple.
tuple1

(1, 2, 100, 4, 5, 'Shreyas')

In [83]:
type(tuple1)

tuple

In [84]:
list1=[1,2,3,4,5]
tuple1=(1,2,3,4,5,'Shreyas')

t1=tuple(list1)
t2=list(tuple1) ## Converting tuple to list and viceversa.

In [85]:
type(t1)

tuple

In [86]:
type(t2)

list

#  3) DICTIONARY:

In [88]:
list_details=['Shreyas',25,'DVG',8553060665]

In [89]:
dict_details={'name':'Shreyas','age':25, 'place':'DVG','Phone':85530}

In [90]:
dict_details

{'name': 'Shreyas', 'age': 25, 'place': 'DVG', 'Phone': 8553060665}

In [91]:
# Dictionary is mutable.
# There is no existance of indexing , repetability, Slicing.
# And it is a collection of key value pairs.
# Inside the dictionary list is allowed.

In [93]:
dict_details={'name':'Shreyas','age':25, 'place':'DVG','Phone':8553060665,'name':'shrey','place':'DAVANGERE'}
dict_details   ## It picks up lastly entered value for the same key value.

{'name': 'shrey', 'age': 25, 'place': 'DAVANGERE', 'Phone': 8553060665}

In [94]:
dict_details={'name':'Shreyas','age':25, 'place':'DVG','Phone':8553060665}

In [102]:
dict_details['name']   ## Name is a key, Help in knowing the value present under that key.

'SHREYAS'

In [103]:
dict_details['age']=25.5   ## This is how we change the value of the previously given key value.

In [104]:
dict_details

{'name': 'SHREYAS', 'age': 25.5, 'place': 'DVG', 'Phone': 8553060665}

In [109]:
list(dict_details.keys() ) ## helps in getting the key values.

['name', 'age', 'place', 'Phone']

In [110]:
dict_details.values()  ## knowing the value given to the keys.

dict_values(['SHREYAS', 25.5, 'DVG', 8553060665])

In [121]:
## Storing multiple details:

emp_details={'name':['Shreyas','Tejas','Manjappa'] ,'age':[25,20,50], 'salary':[20000,25000,35000]}
emp_details

{'name': ['Shreyas', 'Tejas', 'Manjappa'],
 'age': [25, 20, 50],
 'salary': [20000, 25000, 35000]}

In [115]:
emp_details['name']

['Shreyas', 'Tejas', 'Manjappa']

In [149]:
emp_details['salary']=[33000,10980,45890]
emp_details

{'name': ['Shreyas', 'Tejas', 'Manjappa'],
 'age': [25, 20, 50],
 'salary': [33000, 10980, 45890]}

In [150]:
## Storing the above details in the CSV file.
import pandas as pd
df=pd.DataFrame(emp_details)
df.columns=['Name','Age','Salary']
df.to_csv('emp_details.csv',index=False)

In [151]:
df['Salary Hike']=df['Salary']*1.2

In [152]:
df

       Name  Age  Salary  Salary Hike
0   Shreyas   25   33000      39600.0
1     Tejas   20   10980      13176.0
2  Manjappa   50   45890      55068.0

In [11]:
## Dictionary inside the dictionary
dict_details={'name':'Shreyas',
              'age':25, 
              'place':'DVG',
              'Phone':8553060665,
              'Addresss':{'firstline':'992/36 ',
                         'Secondline':'SHIVABASAVA',
                         'Thirdline':'2nd stage, 1st cross'}}

In [12]:
dict_details

{'name': 'Shreyas',
 'age': 25,
 'place': 'DVG',
 'Phone': 8553060665,
 'Addresss': {'firstline': '992/36 ',
  'Secondline': 'SHIVABASAVA',
  'Thirdline': '2nd stage, 1st cross'}}

In [16]:
dict_details['Addresss']['Secondline']

'SHIVABASAVA'

In [18]:
'Addresss' in dict_details

True

In [19]:
'firstline' in dict_details

False

# 4) SETS:

In [43]:
## It is a unique collection of ordered objects.{}

s1 = {1,2,3,'a',4,8,'b'}
s2 = {4,5,1,'f','g','a',0}

In [22]:
type(s2)

set

In [23]:
s1.intersection(s2) ## Gives only common elements from both the sets.

{1, 4, 'a'}

In [25]:
s2.union(s1)  ## Gives all the values of both sets.

{0, 1, 2, 3, 4, 5, 8, 'a', 'b', 'f', 'g'}

In [26]:
s1.difference(s2)

{2, 3, 8, 'b'}

In [33]:
s2.difference(s1)

{0, 5, 'f', 'g'}

In [39]:
list1=['a',24,85,47,32,'b',12,56,99,56,24,85,99,41]

In [40]:
set(list1)    ## It is predefined and it always sort out in a ascending order.

{12, 24, 32, 41, 47, 56, 85, 99, 'a', 'b'}

In [41]:
 s1.clear()

In [42]:
s1

set()

In [47]:
s2.copy()

{0, 1, 4, 5, 'a', 'f', 'g'}

In [50]:
s1.pop()

1

In [53]:
s1.pop()

2

In [58]:
s1.remove(4)

In [59]:
s1

{8, 'a', 'b'}

In [5]:
s3={22,48,56,12,33,72}
s4={13,48,12,15,85}

In [2]:
s3

{12, 22, 33, 48, 56, 72}

In [3]:
list(s3)   ## Type casting.

[33, 72, 12, 48, 22, 56]

In [4]:
12 in s3

True

In [6]:
12 in s3.intersection(s4)

True

#  5) STRINGS:

In [7]:
## Any possible values can be added to the string.
## It is immutalble.
## It can be represented using '', "" , '''''' all means the same.

In [54]:
s1 = 'Hello'
s2 = " SHREYAS "
s3 = '''How are you'''

In [12]:
type(s1),type(s2),type(s3)

(str, str, str)

In [15]:
# Repeatability:
s1*2

'HelloHello'

In [16]:
s1*2,s2*3

('HelloHello', ' SHREYAS  SHREYAS  SHREYAS ')

In [17]:
## Indexing and Slicing:
s1[1]

'e'

In [21]:
s2[4]

'E'

In [30]:
s3

'How are you'

In [41]:
s3[::-1]

'uoy era woH'

In [42]:
s1[::-1]

'olleH'

In [46]:
s2[:-1]

' SHREYAS'

In [47]:
## Repeatability, indexing, slicing are possible. 
## It cannot be changed.

In [49]:
s1[1]='f'   ## It is immutable cant be changed.
            ## Changes cannot be made by giving index value.

TypeError: 'str' object does not support item assignment

#  STRING FUNCTION

In [58]:
s1 = s1+' Shreyas','tejas'    ## This is how we add up a whole words.

In [59]:
s1

('Hello Shreyas Shreyas', 'tejas')

In [1]:
s5='tejas2000'

In [62]:
s5.capitalize()   ## Make 1st letter of the word capital.

'Tejas2000'

In [64]:
s5.lower()  ## Makes all the letter to lowercase.

'tejas2000'

In [65]:
s5.upper()  ## Makes all the letters in a word to upper case.

'TEJAS2000'

In [75]:
s5.isalnum()   ## To check wheather word is combination of digits and words.

True

In [77]:
s5.isalpha() ## To check only elements with alphabets.

False

In [78]:
s5.isnumeric()  ## To check elements which are numeric.

False

In [79]:
s5.islower()  ## to check alphabets in the lower case.

True

In [94]:
s5=s5.replace('2000','manjappa 2000') ## Replacing it with the other elements

In [95]:
len(s5)     ## Space given also takes a value in indexing.

18

In [96]:
s5

'tejasmanjappa 2000'

In [102]:
s5.capitalize()

'Tejasmanjappa 2000'

In [3]:
s5

'tejas2000'

In [9]:
s5.index('2')    ## This is how we find the index value by providing the elements value.

5

In [10]:
s6 = 'Python Basics'   ## Sapce b/w the words are also considered as the 1 length.

In [11]:
len(s6)

13

In [15]:
s7="    Tejas Shreyas    "
s7                              ## Unnecessary spacing is given, to remove that space we use strip function

'    Tejas Shreyas    '

In [16]:
len(s7)

21

In [19]:
s7=s7.strip()

In [20]:
len(s7)

13

In [1]:
## WAP to know number of words present in the sentence.
sentence = input('Enter the statement: ')

Enter the statement: I'm Shreyas and I'm studying Python in Edurekha

In [2]:
sentence

"I'm Shreyas and I'm studying Python in Edurekha"

In [3]:
sentence.count(' ')+1  ## By counting the space we will get to know the

8

In [4]:
list(sentence)

['I',
 "'",
 'm',
 ' ',
 'S',
 'h',
 'r',
 'e',
 'y',
 'a',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'I',
 "'",
 'm',
 ' ',
 's',
 't',
 'u',
 'd',
 'y',
 'i',
 'n',
 'g',
 ' ',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'i',
 'n',
 ' ',
 'E',
 'd',
 'u',
 'r',
 'e',
 'k',
 'h',
 'a']

In [10]:
list0fwords=sentence.split(' ')    ## In order to convert sentence to list

In [11]:
list0fwords

["I'm", 'Shreyas', 'and', "I'm", 'studying', 'Python', 'in', 'Edurekha']

In [21]:
''.join(sentence)   ## Join helps in converting list to sentence.

"I'm Shreyas and I'm studying Python in Edurekha"

In [22]:
"-".join(sentence)

"I-'-m- -S-h-r-e-y-a-s- -a-n-d- -I-'-m- -s-t-u-d-y-i-n-g- -P-y-t-h-o-n- -i-n- -E-d-u-r-e-k-h-a"

In [ ]:
## ASCII VALUE: American standard for information interchange.
## Based on the ASCII VALUES sorting is made. This is Helpful while sorting of upper and lower cased words.

## A-Z = 65 to 90
## a-z = 97 to 122
## 0-9 = 48 t0 57
## Sapce = 32.

In [40]:
ord('A')    ## To check the ASCII Value of any character.

65

In [42]:
ord('3')

51

In [43]:
chr(65)  ## To know the charcter behind the ascii values.

'A'

In [44]:
chr(32)   ## Space key ASCII Value.

' '

In [6]:
## Encrypting of values.
Encrypt=''
d="shreyas" # Encrypting this to one letter next to the present letters.
for each in d:
    Encrypt+=(chr(ord(each)+2))

In [7]:
Encrypt

'ujtg{cu'

#           FILE OPERATIONS:

In [23]:
## WAP to convert user inputed text to a file.

Text = input('Enter the sentence: ')

Enter the sentence: Hi, This is SHREYAS, I had completed the double graduation.

In [34]:
f=open('C:/Users/User/Desktop/EDUREKHA/Greeting.txt','w')
f.write(Text)
f.close()           ## This is to store the user entered input to text file.

In [37]:
f=open('C:/Users/User/Desktop/EDUREKHA/Greeting.txt','r')
content=(f.read())
print(content)
f.close()         ## This is to read the file which is written in the text file.

Hi, This is SHREYAS, I had completed the double graduation. And i'm now doing the data science course.

In [ ]:
## 'w'= Write mode
## 'r'= read mode
## 'a'= append mode
## 'w+'= Writing and reading : This allows you to create a file if it is not existing.
## 'r+' = Reading and writing : This will not allows you to create a file if it is not existing.
## 'a+' = Appending and reading.

In [61]:
f1=open('C:/Users/User/Desktop/EDUREKHA/SHREY.txt','w')
f1.write('Myself Shreyas and I am from Davangere.')
f1.close()   ## For writing

In [62]:
f1=open('C:/Users/User/Desktop/EDUREKHA/SHREY.txt','a')
f1.write('/n And i studied in GMIT')
f1.close()   ## For appending

In [65]:
f1=open('C:/Users/User/Desktop/EDUREKHA/SHREY.txt','r')
content=f1.read()
f1.close()   ## For reading

In [66]:
content

'Myself Shreyas and I am from Davangere./n And i studied in GMIT'

In [9]:
f1=open('C:/Users/User/Desktop/EDUREKHA/SHREY.txt','w')
f1.write('python')
f1.close()

In [15]:
f1=open('C:/Users/User/Desktop/EDUREKHA/SHREY.txt','r')
c=f1.read()
f1.close()

In [16]:
c

'python'

In [1]:
f1=open('C:/Users/User/Desktop/EDUREKHA/SHREY.txt','w+')
f1.write('python')
f1.close()

In [2]:
f1=open('C:/Users/User/Desktop/EDUREKHA/SHREY.txt','r+')
c=f1.read()
f1.close()

In [37]:
c

'pytsublime'

In [33]:
f1.tell()    ## This is to know the pointer place in the file.

6

In [34]:
f1.seek(3)  ## To move pointer to the particular place .

3

In [35]:
f1.write('sublime')   ## And to write something new from that pointer location.

7

In [3]:
f1.close()

In [8]:
## Binary Version = This are file which are only system readable files.
# wb , ab , rb , w+b , r+b , a+b This is to read such a files.

## OTHER FILE THAT CAN BE READ: CSV, Excel, JSON, Parquet.

In [20]:
# Encrypt and Dcrypt:

# Encrypt: ABC123
## Key : Alphabets 1 step forward and Numerics to 2 step forward.

encrypt=''
ip= input('Enter the value: ')
for each in ip:
    if each.isnumeric:
        encrypt+=chr(ord(each)+2)
    elif each.isalpha:
        encrypt+=chr(ord(each)+1)

(encrypt)

Enter the value: ABC123

'CDE345'